li a {
        color: #c26bba;
        background-color: #e6c8e3;
}

/* sekcja DIV-ów jest do zrobienia w zasadzie tylko przy wstępnie wygenerowanym
   HTMLu */

body {
        color: #40133c;
        background-color: #edd8eb;
}
