/*
body
{
        color:                  #320331;
        background-color:       #edd8eb;
        margin:                 0;
        padding:                0;
        font-size:              15px;
        font-family:            "Roboto",
                                "Lucida Grande",
                                "DejaVu Sans",
                                "Bitstream Vera Sans",
                                Verdana,
                                Arial,
                                sans-serif;
}

img.logo_small
{
        float:  left;
        width:  26%;
        height: 26%;
}

div.header {
        width:           auto;
        height:          auto;
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        padding:         10px 10px;
        background:      #320331;
        color:           #edd8eb;
        overflow:        hidden;
}

div.main_part
{
        padding:        10px 10px;
}

div.finetheme1
{
		padding-top:		5px;
		padding-bottom:		5px;
        background-color:	#c8b6c6;
}

div.finetheme2
{
		padding-top:		5px;
		padding-bottom:		5px;
		background-color:	#baaab9;
}

div.nothing
{
		font-style:		italic;
}

div.bigger
{
		font-size:		18px;
		font-weight:	bold;
		font-style:		italic;
}

div.name
{
		padding-left:	6px;
		padding-right:	6px;
}

div.description
{
		padding-left:	15px;
		padding-right:	15px;
}

div.op_footer
{
		font-style:		italic;
		font-size:		12px;
		padding-left:	6px;
		padding-right:	6px;
}

span.bold
{
		font-weight:	bold;
}

span.name
{
        font-weight:    bold;
        font-style:     italic;
}
*/
span.hidden
{
        display:        none;
}
/*
span.heading
{
        font-weight:    bold;
}

a:link, a:visited
{
        color:          #741196;
        text-decoration:none;
}

a:hover
{
        text-shadow:    0px 0px 10px #b256d2;
}

iframe.map
{
    width: 400px;
    height: 400px;
    border-width: 1px;
    border-color: #FF00FF;
    border-style: solid;
}
*/
